.popup {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    width: 450px;
    padding: 40px 30px;
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .popup__input {
      width: 100%;
      height: 40px;
      padding: 5px 10px;

      font-family: 'Inter', sans-serif;

      border: var(--border);

      &:focus {
        outline-color: var(--color-purple);
      }

      &::placeholder {
        font-family: 'Inter', sans-serif;
      }
    }

    textarea {
      resize: none;
      min-height: 150px;
    }

    .disabled {
      &:hover {
        background-color: inherit;
        border: var(--border);
        border-width: 2px;
        color: #1010104D;
      }
    }

    button {
      padding: 10px 40px;
      background-color: inherit;

      border: var(--border);
      border-width: 2px;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      cursor: pointer;

      transition: var(--transition);

      &:hover {
        background-color: var(--color-purple);
        color: var(--color-white);
        border-color: var(--color-purple);
      }
    }
  }
}